.navbar {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.user i{
    font-size: 18px;
    margin-top: 15px;
    margin-right: 5px;
}

.saralangan {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.saralangan i{
    font-size: 18px;
    margin-top: 15px;
    margin-right: 5px;
}

.savat {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.savat i{
    font-size: 18px;
    margin-top: 15px;
    margin-right: 5px;
}